<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Search Github Events</h1>
    
    <form action="#" th:action="@{/events}" th:object="${events}" method="post">
        <table>
            <tr>
            	<td>Select Owner:</td>
                <td>
                    <select th:field="*{owner}">
    					<option th:value="'octocat'" th:text="octocat"></option>
					</select>
                </td>
            	<td>Select Repo:</td>
                <td>
                    <select th:field="*{repo}">
    					<option th:value="'Hello-World'" th:text="Hello-World"></option>
					</select>
                </td>
                <td>Select Type:</td>
                <td>
                    <select th:field="*{type}">
    					<option th:value="'ForkEvent'" th:text="ForkEvent"></option>
    					<option th:value="'WatchEvent'" th:text="WatchEvent"></option>
    					<option th:value="'IssuesEvent'" th:text="IssuesEvent"></option>
					</select>
                </td>
            </tr>
         
            <tr>
                <td><input name="submit" type="submit" value="submit" /> <input type="reset" value="Reset" /></td>
            </tr>
        </table>
    </form>
</body>
</html>