<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Results based on Event type</h1>
	<div class="container">
		<table class="table table-stripped" border="1" style="width:50%">
			<tr>
				<th>ID</th>
				<th>Type</th>
				<th>Actor Login</th>
				<th>Timestamp</th>
			</tr>

			<tr th:each="event: ${list}">
				<td th:text="${event.id}" />
				<td th:text="${event.type}" />
				<td th:text="${event.actor.login}" />
				<td th:text="${event.created_at}" />
			</tr>
		</table>
	</div>
	<br>
	<br>
	<a href="/events">Send a new request</a>
</body>
</html>